@import "tailwindcss";

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

h2, h3, p{
  color: var(--light-blue, oklch(91.7% 0.02 205.041));
}

.green{
  color: var(--green, oklch(76.5% 0.177 163.223));
}

.melon{
  color: var(--melon, oklch(80.8% 0.114 19.571));
}

